@model HotelAtr.DAL.RoomType

@{
    ViewBag.Title = "CreateRoomType";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <br />
        <br />
        <h2>CreateRoomType</h2>
        <div class="form-body" id="DivForm">

            @using (Html.BeginForm("CreateRoomType", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>RoomType</h4>
                <hr />
               
                <div class="well">
                     @Html.ValidationSummary()
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Create"
                               onclick="ValidateForm()"
                               class="btn btn-default" />
                    </div>
                </div>
            </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

        </div>
        <br />
        <br />
    </div>
    <div class="col-md-3"></div>
</div>

